body{
  text-align: center;
  background-image: url("https://cdn.wallpapersafari.com/20/96/yGZvBL.jpg");
  background-size: cover;;
}

#sudoku-board{
  height:700px;
  width:700px;
  display: inline-block;

}

#sudoku-board input{
  height:70px;
  width:70px;
  text-align: center;
  box-sizing: border-box;
  border-spacing: 0;
  border:1px grey solid;
  margin:1px;
  border-radius: 5px;
}
#solve{
  position: relative;
    top: 100px;
    text-align: center;
    right: 400px;
    padding: 19px;
    width: 100px;
}
#solve:hover{
  opacity: 0.7;
  background-color: gold;
}
